# Data Types, Operators, and Variables Lesson

<hr style="border:2px solid gray">

## Data Types

| Data Type | Description |
| --- | --- |
| ```bool``` | Boolean values (True or False) |
| ```int``` | whole, or counting numbers |
| ```float``` | decimal numbers |
| ```str``` | collection of alpha, words, other |
| ```list``` | an ordered sequence of objects |
| ```dict``` | a collection of named values |
| ```NoneType``` | indicates absence of a value |

<b>Note</b>: We can use the ```type``` function to determine the data type being used.

<b>```bool```:

In [2]:
type(True)

bool

In [3]:
True == True

True

In [4]:
True == False

False

In [5]:
True != False

True

In [6]:
True != True

False

In [7]:
not True

False

In [8]:
not False

True

<hr style="border:1px solid grey">

<b>Numbers: ```Int``` & ```float```

In [9]:
1

1

In [10]:
type(123)

int

In [11]:
1.0

1.0

In [12]:
type(1.0)

float

In [13]:
4+10

14

In [14]:
0.4+0.6

1.0

In [15]:
5-1

4

<hr style="border:1px solid grey">

<b>```str```

In [16]:
type('hello')

str

In [17]:
#single quote
'Hello World'

'Hello World'

In [18]:
#double quote
"Hello World"

'Hello World'

In [19]:
#mult-line string (used for docstrings)
"""
This is a multi
line 
string
"""

'\nThis is a multi\nline \nstring\n'

In [20]:
print('Hello World')

Hello World

In [21]:
#multi-line print
print('Hello\n World')

Hello
 World

In [22]:
'hello' == 'world'

False

In [23]:
'hello' == 'hello'

True

In [24]:
#must be accurate- spaces matter
'hello ' == 'hello'

False

In [25]:
#adding two strings together
'abc' + 'def'

'abcdef'

In [26]:
#print abc for me- ten times
print('abc\n' * 10)

abc
abc
abc
abc
abc
abc
abc
abc
abc
abc

In [27]:
#can we add a string to an int?
'2' + 1

TypeError: can only concatenate str (not "int") to str

In [28]:
#here I am explicitly telling python that 2 is an int
int('2') + 1

3

In [29]:
#but python wont understand turing an alpha character into an int
int('s')

ValueError: invalid literal for int() with base 10: 's'

In [30]:
#we CAN add a string to an explicit string though!
'2' + str(1)

'21'

In [33]:
#now we are telling python we need an input
my_response = input('Hey whats your name: ')

Hey whats your name: Tasha

In [34]:
#will output our response
my_response

'Tasha'

<hr style="border:1px solid grey">

### String Formatting

- ```%``` formatting: a little older, but still fairly common
- ```.format```: a newer way to format strings
- f-strings: introduced in python 3.6; comparable to string interpolation in other languages

In [37]:
name = 'Tasha'
name2 = 'Brooke'
name3 = "Ryan"
name4 = 'John'

<b>Using ```%```

In [38]:
'Hello %s, %s, %s, %s' % (name, name2, name3, name4)

'Hello Tasha, Brooke, Ryan, John'

<b>Using ```.format```

In [39]:
'Hello {}, {}, {}'.format(name, name2, name3)

'Hello Tasha, Brooke, Ryan'

<b>Using f-strings

In [40]:
f"Hello {name}, {name2}, {name3}"

'Hello Tasha, Brooke, Ryan'

<hr style="border:1px solid gray">

### String Methods

- ```.lower``` and ```.upper```: convert the string to all lower or upper case
- ```.strip```: remove any leading and trailing whitespace from the string
- ```.isdigit```: test whether or not the string is a number
- ```.split```: convert a string to a list
- ```.join```: convert a list to a string

In [41]:
#lowercase something that is all caps
'HELLO'.lower()

'hello'

In [42]:
#capitalize something that is all lowercase
'hello'.upper()

'HELLO'

In [43]:
#do both
'HELLO'.lower().upper()

'HELLO'

In [44]:
#remove all the white space
'       Hello     '.strip()

'Hello'

In [45]:
#are these numeric?
'123'.isdigit()

True

In [46]:
#is this numeric?
's'.isdigit()

False

In [47]:
'ADS134'.isdigit()

False

In [48]:
#adds commas on white space
"Hello Quintela you're the best".split()

['Hello', 'Quintela', "you're", 'the', 'best']

In [49]:
#separate on the commas
'emp_id,first_name,last_name'.split(',')

['emp_id', 'first_name', 'last_name']

In [50]:
'emp_id,_first_name,_last_name'.split(',_')

['emp_id', 'first_name', 'last_name']

In [51]:
#replace an underscore with a space
'emp_id'.replace('_', ' ')

'emp id'

In [52]:
#join on the comman, keep white space
' '.join(['Hello', 'Quintela'])

'Hello Quintela'

In [53]:
#join on the comman, no white space
''.join(['Hello', 'Quintela'])

'HelloQuintela'

<hr style="border:1px solid gray">

### List
Lists allow us to store a sequence of objects. Each item in a list is refered to as an element. The elements in a list can be any type (including another list), but it is most common to see lists where each element is the same type.

In [54]:
#list of three numbers
[1,2,3]

[1, 2, 3]

In [55]:
#list of three strings
['one','two','three']

['one', 'two', 'three']

In [56]:
#list of lists
[[1, 2, 3], [1, 2, 3]]

[[1, 2, 3], [1, 2, 3]]

In [57]:
number_list = [1, 2, 3]

In [58]:
#call the specific item in that list using index
number_list[0]

1

In [59]:
#what if that index doesnt exist?
number_list[3]

IndexError: list index out of range

<b>Slices of a list can be obtained by using a ```:``` to indicate a range inside of the square brackets

In [60]:
#everything up to, but not including, the element at index 2
number_list[:2]

[1, 2]

In [61]:
#everything from index 1 up to, but not including, index 
number_list[1:2]

[2]

In [62]:
#everything from index 1 to the end of the list
number_list[1:]

[2, 3]

<b>List of lists

In [63]:
my_list_of_list_of_numbers = [[1, 2, 3], [4, 5, 6]]

In [64]:
#outside in
my_list_of_list_of_numbers[1][1]

5

In [65]:
my_list_of_list_of_numbers[0][2]

3

In [66]:
my_list_of_list_of_numbers[0]

[1, 2, 3]

<b>List Operators
- ```.append``` adds to a list
- ```.pop``` removes from a list

In [67]:
number_list = [1, 2, 3]

In [68]:
#add a number to the end of the list
number_list.append(4)

In [69]:
number_list

[1, 2, 3, 4]

In [70]:
#remove the last number 
number_list.pop()

4

In [71]:
number_list

[1, 2, 3]

In [72]:
#referencing the index
number_list.pop(1)

2

In [73]:
number_list

[1, 3]

In [74]:
list_of_numbers = [n for n in range(10)]

In [75]:
list_of_numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
#add 200 to the fourth index
list_of_numbers[4] = 200

In [77]:
#take a look
list_of_numbers

[0, 1, 2, 3, 200, 5, 6, 7, 8, 9]

In [78]:
#what if I want to know how many numbers are in my list?
len(list_of_numbers)

10

<b>Converting to a list</b>
<br>
There are many python functions that return an iterable, as opposed to a list. For example, the range function returns an iterable range object not a list. These type of objects can be converted to a list by using the ```list``` function.

In [79]:
#give me a list of numbers from 0-9
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [81]:
#what if we want every other number
list(range(1, 11,2))

[1, 3, 5, 7, 9]

In [82]:
#turn this string into a list of individual characters
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [83]:
#map is used to apply that string type to each item- iterates through
list(map(str, [1, 2, 3]))

['1', '2', '3']

In [84]:
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

<b>List Comprehension

In [85]:
[n for n in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
[n * 2 for n in range(1, 11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [87]:
[n * 2 for n in range(1, 11) if n % 2 == 0]

[4, 8, 12, 16, 20]

In [ ]:
[n for n in range(1, 11) if n % 2 == 0]

In [88]:
#range is inclusive of first number and exclusive of final number
list_1 = [n for n in range(1, 11)]
list_2 = [n * 2 for n in range(1, 11)]

In [89]:
print(list_1) 
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [90]:
list_1, list_2

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20])

In [94]:
#python will only read last 
list_1
list_2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [93]:
print(list_1)
list_2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

<hr style="border:1px solid gray">

### Tuples:
<br>
Tuples are like lists, except that they are immutable, meaning they <u>cannot</u> be changed. Once a tuple is created, it's length is fixed, and no more items can be added to it or removed from it.

We can still use the index to access elements within the tuple

In [95]:
my_tuple = (1, 2, 3)

In [96]:
my_tuple[1]

2

<hr style="border:1px solid gray">

### Dictionaries

Dictionaries are a way to group values together and give a name to each value. The names for the values in a dictionary are sometimes called keys. It is common to refer to a dictionary as a group of key-value pairs.

Dictionaries can be created by writing a dictionary literal, which is delimeted with curly braces, and the keys are separated from the values with a colon, and key-value pairs are separated by commas.

In [97]:
{'name': 'Codeup', 'age': 4}

{'name': 'Codeup', 'age': 4}

We can create dictionaries using the ```dict``` function

In [98]:
dict(name='Codeup', age=4)

{'name': 'Codeup', 'age': 4}

<b>Accessing dictionaries

In [99]:
school = dict(name='Codeup', age=9)

school

{'name': 'Codeup', 'age': 9}

In [100]:
#give me just the name
school['name']

'Codeup'

In [101]:
#add 1 to the age
school['age'] += 1

In [102]:
#now what do we get
school

{'name': 'Codeup', 'age': 10}

In [103]:
school['age']

10

In [104]:
#what if the dictionary is more complex?
about_tasha = {
    'name': 'Tasha',
    'age': 36,
    'favorite color': 'Purple',
    'favorite numbers': [3, 33],
    'other': {
        'dogs': ['Marley', 'Mazi'],
        'cars': ['Tiggy', 'Rusto'],
        'school': ['Codeup']
    }
}

In [105]:
about_tasha['name']

'Tasha'

In [106]:
about_tasha['age']

36

In [107]:
about_tasha['favorite numbers']

[3, 33]

In [108]:
about_tasha['other']['dogs']

['Marley', 'Mazi']

In [113]:
about_tasha['other']['cars'].append('rover')

In [111]:
about_tasha

{'name': 'Tasha',
 'age': 36,
 'favorite color': 'Purple',
 'favorite numbers': [3, 33],
 'other': {'dogs': ['Marley', 'Mazi'],
  'cars': ['Tiggy', 'Rusto', 'rover'],
  'school': ['Codeup']}}

In [114]:
#adding another component to other
about_tasha['other']['house'] = ['SA', 'Zaragoza']

In [115]:
#forgot to add height to my about me
about_tasha['height'] = 60

In [116]:
about_tasha

{'name': 'Tasha',
 'age': 36,
 'favorite color': 'Purple',
 'favorite numbers': [3, 33],
 'other': {'dogs': ['Marley', 'Mazi'],
  'cars': ['Tiggy', 'Rusto', 'rover', 'rover'],
  'school': ['Codeup'],
  'house': ['SA', 'Zaragoza']},
 'height': 60}

In [117]:
#what if I need to see all the keys in this dictionary?
about_tasha.keys()

dict_keys(['name', 'age', 'favorite color', 'favorite numbers', 'other', 'height'])

<hr style="border:1px solid black">

## Variables:
A variable associates an object with a human readable name. Variables are created by choosing a valid identifier and using the assignment operator, ```=```.

<b>Assigning a variable

In [118]:
x = 1

In [119]:
x

1

In [120]:
is_first_of_month = True
report_has_been_sent = False

In [121]:
is_first_of_month

True

In [122]:
should_process_report = is_first_of_month and not report_has_been_sent

In [123]:
print(should_process_report)

True